body {
	font-family: "SN Pro", sans-serif;
	margin: 0;
	min-height: 100dvh;
	min-height: 100vh;
	background: #f8f8f7;
}

button {
	border: 0;
}

.main {
	height: 100vh;
	height: 100dvh;
	display: flex;
	justify-content: center;
	background-image: url(../resources/bg.svg);
	background-size: cover;
	align-items: center;
	flex-direction: column;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 20px 30px;
	height: 40px;
	background-color: transparent;

}

.logo {
	background-image: url('../resources/logo.png');
	background-size: cover;
	width: 40px;
	height: 40px;
}

.logo-container {
	display: flex;
	align-items: center;
	gap: 10px;
}

.name-logo {
	font-size: 20px;
	font-weight: 600;
}

.login {
	border: 0;
	background: #03193C;
	color: white;
	font-weight: 700;
	font-size: 16px;
	cursor: pointer;
	border-radius: 10px;
	width: 100px;
	transition: .3s;
}

.login:hover {
	background: #2a3d5b;
}

.tagline {
	font-size: 60px;
	color: #03193C;
	font-weight: 600;
	text-align: center;
}

.description {
	text-align: center;
	font-size: 20px;
	color: #03193C;
}

.button-tagline {
	margin: 20px;
	width: 60%;
	display: flex;
	justify-content: center;
	gap: 20px;
}
.register {
	background: #03193C;
	color: white;
	font-weight: 700;
	border-radius: 10px;
	width: 140px;
	height: 40px;
	font-size: 15px;
}

.learn-more {
	border: 1px solid #03193C;
	color: #03193C;
	font-weight: 700;
	border-radius: 10px;
	width: 140px;
	height: 40px;
	font-size: 15px;
}

.login-opacity {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none; 
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.login-opacity.active {
	display: flex;
	opacity: 1;

}

.login-box {
	background: white;
    padding: 40px;
    border-radius: 15px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    transform: translateY(-20px);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-body {
	overflow: hidden;
	padding-right: 15px;
}

.username-container {
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-bottom: 20px;
	width: 100%;
}

.username-container input  {
	font-size: 16px;
	padding: 10px;
}

.password-container {
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-bottom: 20px;
	width: 100%;
}

.password-container input {
	font-size: 16px;
	padding: 10px;
}

.submit {
	border: 0;
	background: #03193C;
	color: white;
	font-weight: 700;
	font-size: 16px;
	cursor: pointer;
	border-radius: 10px;
	width: 100%;
	height: 40px;
	transition: .3s;
}

.logo-box {
	background-image: url('../resources/logo.png');
	background-size: cover;
	width: 80px;
	height: 80px;
}



  .toggle-icon {
    position: absolute;
    right: 50px;
    top: 70%;
    cursor: pointer;
  }